<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="heading">
        <h1>Dummyzone.in</h1>

    </div>
    <div class="container">
        <h2>Login </h2>
        <div class="username"> 
            <input type="text" placeholder="Enter Your username or Email">
        </div>
        <div class="password">
            <input type="password" placeholder=" Password">
        </div>
<div class="btn">
    <button>Log in</button>
</div>
    </div>

</body>

</html>