<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="heading">
        <h1>Dummyzone.in</h1>

    </div>
    <div class="container">
        <h2>Sign Up </h2>
        
        <div class="message"></div>
            <div class="Email">
                <input type="email" required name="Email" placeholder="Enter Your  Email" id="Email">
            </div>
            <div class="username">
                <input type="text" required name="Username" placeholder="Enter Your Username " id="name">
            </div>
            <div class="password">
                <input type="password" required name="Password" placeholder=" Password" id="password">
            </div>
            <div class="password">
                <input type="password" required placeholder=" Confirm Password" id="confirm_password">
            </div>
            <div class="btn">
                <input type="button" value="Login" id="Login">
            </div>
            <p>Already have an account? <a href="/login"> Login</a> </p>
  
    </div>


</body>
<script src="/script/Sign-up.js"></script>

</html>